body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container
{
	position: center;
	width: 1200px;
	height: 250px;
	margin: 50px auto;
	background: block;
}
.container .box
{
	position: center;
	width: calc(400px - 30px);
	height: calc(200px - 30px);
	background: #597;
	float: center;
	margin: 15px;
	box-sizing: border-box;
	overflow: transparent;
	border-radius: 104px;
	display: auto;
}
.wrapper
{
	width: 100%;
}
.img-banner
{
	display: block;
	width: 100%
	
}
.img-info
{
	width: 100%;
}
.img--info h2
{
	padding: 30px 30px 20px;
	font-family: arial;
	font-size: 50px;
	color: #000;
	line-height: 44px;
}
.img-info p
{
	padding: 0px 30px 20px;
	font-family: arial;
	font-size: 16px;
	color: #000;
	line-height: 24px;
}

@media only screen and (min-width: 768px) {
.img-banner {
	display: block;
	width 10%
	padding-bottom: 30px;
}
.wrapper
{
	width: 600px;
	margin: 0 auto;
	
}
.img-info h2
{
	padding: 20px 00px 0px;
	color: #000;
	
}
.img-info p
{
	padding: 20px 0px 0px;
	color: #000;
}

@media only screen and (min-width: 1000px) {
 .wrapper
{
	width: 1000px;
	
}
.img-info
{
	width: 50%;
	float: right;
}
.img-info h2
{
	padding: 20px 00px 0px 30px;
	font-size: 30px;
	font-family: armenian;
	color: #001;
	
}
.img-info p
{
	padding: 20px 0px 0px 30px;
	color: #000;
	
}
.img-info h3
{
	padding: 20px 00px 0px 30px;
	font-size: 303px;
	font-family: armenian;
	color: #fff;
	
	
}













